In [49]:
import pandas as pd
df=pd.read_csv('hdd.csv', encoding='big5')
df = df[1:5]

## 連接MySQL的第一種辦法
## sqlalchemy

In [50]:
import sqlalchemy
import pandas as pd
engine = sqlalchemy.create_engine("mysql+pymysql://root:0000@127.0.0.1:3306/?charset=utf8mb4") #創立和MYSQL的連線
engine.execute("CREATE DATABASE hdd CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;")#改成utf8mb4編碼比較不會錯，建立db
# engine.execute("drop database News")#刪除db

C:\Users\user\Anaconda3\lib\site-packages\pymysql\cursors.py:166: Warning: (1366, "Incorrect string value: '\\xA5x\\xA5_\\xBC\\xD0...' for column 'VARIABLE_VALUE' at row 480")
  result = self._query(query)

In [51]:
df.to_sql('hddcontent', engine, if_exists='append', schema='hdd',index=False) 
#1.要建立的table名子
#2.建立連結的engine
#3.如果存在就加到後面
#4.schema就是database的名子
#5.不要有index

In [54]:
pd.read_sql_table('hddcontent', engine, schema='hdd')
#用pandas讀出MYSQL的資料
#1.table名子
#2.和MySql的連線
#3.database的名子

                       name  capacity  cache  speed warranty  price
0  Toshiba 2TB (DT01ACA200)      2000     64   7200       三年   1899
1  Toshiba 3TB (DT01ACA300)      3000     64   7200       三年   2989
2  Toshiba 4TB (MD04ACA400)      4000    128   7200       三年   3790
3  Toshiba 6TB (MD04ACA600)      6000    128   7200       三年   6450

## 連接MYSQL第二種方法
## dataset
https://dataset.readthedocs.io/en/latest/

In [11]:
!pip install -U PyMySQL sqlalchemy dataset

Requirement already up-to-date: PyMySQL in c:\users\user\anaconda3\lib\site-packages
Requirement already up-to-date: sqlalchemy in c:\users\user\anaconda3\lib\site-packages
Requirement already up-to-date: dataset in c:\users\user\anaconda3\lib\site-packages
Requirement already up-to-date: alembic>=0.6.2 in c:\users\user\anaconda3\lib\site-packages (from dataset)
Requirement already up-to-date: six>=1.7.3 in c:\users\user\anaconda3\lib\site-packages (from dataset)
Requirement already up-to-date: normality>=0.3.9 in c:\users\user\anaconda3\lib\site-packages (from dataset)
Collecting python-dateutil (from alembic>=0.6.2->dataset)
  Using cached python_dateutil-2.6.1-py2.py3-none-any.whl
Requirement already up-to-date: python-editor>=0.3 in c:\users\user\anaconda3\lib\site-packages (from alembic>=0.6.2->dataset)
Requirement already up-to-date: Mako in c:\users\user\anaconda3\lib\site-packages (from alembic>=0.6.2->dataset)
Requirement already up-to-date: banal in c:\users\user\anaconda3\lib\site-packages (from normality>=0.3.9->dataset)
Requirement already up-to-date: chardet in c:\users\user\anaconda3\lib\site-packages (from normality>=0.3.9->dataset)
Requirement already up-to-date: MarkupSafe>=0.9.2 in c:\users\user\anaconda3\lib\site-packages (from Mako->alembic>=0.6.2->dataset)
Installing collected packages: python-dateutil
  Found existing installation: python-dateutil 2.6.0
    Uninstalling python-dateutil-2.6.0:
      Successfully uninstalled python-dateutil-2.6.0
Successfully installed python-dateutil-2.6.1

In [55]:
import dataset
db = dataset.connect('mysql+pymysql://root:0000@127.0.0.1:3306/?charset=utf8mb4')#建立MySQL的連線
df = pd.read_csv('hdd.csv',encoding='big5', names=['name','capacity','cache','speed','warranty','price'])
df = dict(df.iloc[1])
df

{'cache': '32',
 'capacity': '1000',
 'name': 'Toshiba 1TB (DT01ACA100)',
 'price': '1599',
 'speed': '7200',
 'warranty': '三年'}

In [ ]:
# import dataset

# db = dataset.connect('sqlite:///:memory:')

# table = db['sometable']
# table.insert(dict(name='John Doe', age=37))
# table.insert(dict(name='Jane Doe', age=34, gender='female'))

# john = table.find_one(name='John Doe')